<%- include("../partials/header") %>
      <div class="content">
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hata Mesajı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bani Kaldirma Yetkiniz Yoktur !
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalError2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hata Mesajı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Yetkiniz yok.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% if(messages[0]){ %>
              <div class="alert alert-danger alert-dismissible fade show" style="width: 440px; float: right;" role="alert">
                <%= messages %>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
           <% } else { %>
           
           <% } %>
          </div>
        </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Hwid Banlı Kullanıcılar</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Oyuncu Nick</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <% hwid_bans.forEach(h => { %>
                        <tr>
                        <td><%= h.ID %></td>
                        <td><%= h.PLAYER_NICK %></td>
                        <% if(user.Role === "Moderator"){ %>
                          <td><a data-toggle="modal" data-target="#modalError" class="btn btn-danger">Banı Kaldır</a></td>
                        <% } else {%>
                        <td><a onclick="return confirm(' <%= h.PLAYER_NICK %> Adli Kişinin Hwid Bani Kaldırılacaktır. Onaylıyor Musunuz?')" href="/admin/unban/hwid/<%= h.PLAYER_NICK %>" class="btn btn-danger">Banı Kaldır</a></td>
                        <% } %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Hesap Banlı Kullanıcılar</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Oyuncu Nick</th>
                      <th></th>
                    </thead>
                    <tbody>
                    
                      <% account_bans.forEach(a => { %>
                        <tr>
                        <td><%= a.ID %></td>
                        <td><%= a.PlayerNick %></td>
                        <td><a  onclick="return confirm(' <%= a.PlayerNick %> Adli Kişinin Hesap Bani Kaldırılacaktır. Onaylıyor Musunuz?')" href="/admin/unban/account/<%= a.PlayerNick %>"  class="btn btn-danger">Banı Kaldır</a>&nbsp; &nbsp;
                        <% if(user.Role === "Moderator"){ %>
                          <button data-toggle="modal" data-target="#modalError2" class="btn btn-danger">Hwid Ban At</button></td>
                        <% } else { %>
                          <a  onclick="return confirm(' <%= a.PlayerNick %> Adli Kişinin Hesap Bani Kaldırılacaktır. Onaylıyor Musunuz?')" href="/admin/ban/hwid/<%= a.PlayerNick %>"  class="btn btn-danger">Hwid Ban At</a></td>
                        <% } %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../partials/footer") %>