<%- include("../partials/header") %>
      <div class="content">
        <div class="container-fluid">
          <div class="row justify-content-center align-items-cente">
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/img/profile.png" />
                  </a>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Hoşgeldiniz, <%= user.Username %></h3>
                  <h4 class="card-description">
                    <%= user.Role %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">addchart</i>
                  </div>
                  <p class="card-category">Son 24 saatte en fazla aktif kullanıcı</p>
                  <h3 class="card-title"><%= onlineUsersCount %>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Son 24 saattir.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Şu anki online sayısı</p>
                  <% if(nowOnlineUsers.length === 0){ %>
                  <h3 class="card-title">0</h3>
                  <% } else { %>
                  <h3 class="card-title"><%= nowOnlineUsers[0].online_user_count %></h3>
                  <% } %>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Son 5 dakikadır
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">Toplam banlanan üye sayısı</p>
                  <h3 class="card-title"><%= bannedUsers %></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Bugüne kadar ban yiyen kişi sayısı
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">contact_page</i>
                  </div>
                  <p class="card-category">Toplam Üye Sayısı</p>
                  <h3 class="card-title"><%= totalUsers %></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Toplam üye sayısı
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../partials/footer") %>