<%- include('../../partials/header') %>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Yetkili Düzenle</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Kullanıcı Adı</label>
                      <input type="text" value = "<%= competent.Username %>" maxlength="20" name = "username" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Şifre</label>
                      <input type="text" value = "<%= competent.Password %>" maxlength="16" name = "password"  class="form-control" required>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Rolü</label>
                      <% if(user.ID === competent.ID ){ %>
                        <select class="form-control" name="role" id="exampleFormControlSelect1">
                          <option class = "text-dark">Kurucu</option>
                        </select>
                      <% } else { %>
                        <select class="form-control" name="role" id="exampleFormControlSelect1">
                          <option class = "text-dark"><%= competent.Role %></option>
                          <% if(competent.Role === "Kurucu"){ %>
                            <option class="text-dark">Admin</option>
                            <option class="text-dark">Moderator</option>
                          <% } if(competent.Role === "Admin"){ %>
                            <option class="text-dark">Kurucu</option>
                            <option class="text-dark">Moderator</option>
                          <% } %>
                          <%  if(competent.Role === "Moderator"){ %>
                            <option class="text-dark">Kurucu</option>
                            <option class="text-dark">Admin</option>
                          <% } %>
                        </select>
                      <% } %>
                    </div>
                  </div>
                </div>
                <a href="/admin/competents" class="btn btn-danger pull-left">İptal</a>
                <button type="submit" class="btn btn-primary pull-right">Güncelle</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../partials/footer') %>