<%- include('../../partials/header') %>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Kullanıcı Düzenle</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input type="email" name = "email" maxlength="30" value="<%= foundUser.Email %>" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Şifre</label>
                      <input type="text" name = "password" value="<%= foundUser.Password %>" maxlength="20" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Oyuncu Adı</label>
                      <input type="text" name = "playerNick" value="<%= foundUser.PlayerNick %>" maxlength="12" class="form-control username" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Son nick değiştirme tarihi</label>
                      <input type="text" name = "nickUpdateDate" value="<%= foundUser.NickUpdateDate %>" class="form-control" required>
                    </div>
                  </div>
                </div>
                <a href="/admin/users" class="btn btn-danger pull-left">İptal</a>
                <button type="submit" class="btn btn-primary pull-right">Güncelle</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>$(".username").keyup(function (){

    const charatcers = "Ü Ğ Ş Ç Ö ğ ı ü ş ö ç + - * / ! ' ^ + % & / ( ) = ? _".split(" ");

    for(let i = 0; i < charatcers.length; i++){
      if (this.value.match(charatcers[i])){
        this.value = this.value.replace(charatcers[i],'');
      }
    }
 });</script>

  <%- include('../../partials/footer') %>